/* adding fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* stylings for the whole site */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

body {
    background-color: black;
    color: #333;
    line-height: 1.6;
    opacity: 1;
}

/* loader styling */
body.loading {
    overflow: hidden;
}


#page-loader {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}

#page-loader.hide {
    opacity: 0;
    visibility: hidden;
}

.loader {
    display: flex;
    gap: 8px;
}

.loader span {
    width: 12px;
    height: 12px;
    background: #a8fd15;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader span:nth-child(3) {
    animation-delay: 0.4s;
}

#page-loader p {
    margin-top: 16px;
    color: #aaa;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

@keyframes bounce {
    from {
        transform: translateY(0);
        opacity: 0.6;
    }
    to {
        transform: translateY(-10px);
        opacity: 1;
    }
}


/* GLASS NAVBAR */
header {
    position: fixed;
    width: 100%;
    z-index: 999;

    background: rgba(0, 0, 0, 0.45);
    /* semi-transparent */
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(14px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* navbar styling */
.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 6%;

}

.nav-section>a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 15px;
}

.nav-section .nav-logo {
    color: white;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    transition: 0.3s ease;
}

.nav-section .nav-logo:hover {
    color: #a8fd15;
    border-bottom: 1px solid #a8fd15;
    padding-bottom: 4px;
}

.nav-section>ul {
    list-style: none;
    display: flex;
}

.nav-section>ul>li {
    margin: 0 10px;

}

.nav-section>ul>li>a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
    font-family: 'Bebas Neue', cursive;
    transition: 0.2s ease;
}

.nav-section>ul>li>a:hover {
    color: #a8fd15;
    border-bottom: 1px solid #a8fd15;
    padding-bottom: 4px;
}

/* .nav-section>ul>li>a.contact {
    color: #a8fd15;
    border-bottom: 1px solid #a8fd15;
    padding-bottom: 4px;
    cursor: default;
} */

.page-wrapper {
    animation: siteFade 1.2s ease forwards;
    opacity: 0;
}

@keyframes siteFade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* home section */
.home-section {
    /* min-height: 100vh; */
    padding: 10% 6% 8%;

    background-color: black;
    border-bottom: 1px solid rgb(113, 111, 111);
}

.home-section .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.split-text span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
    color: inherit;
    display: inline-block;
}

.home-text h1 {
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
}

.home-text p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    margin: 20px 0;
}

/* Button + social icons in one line */
.home-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}



.btn {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 10px 20px;
    background-color: #a8fd15;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 50px;
}

/* SHINE ANIMATION */
@keyframes shine {
    0% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(120%);
    }
}

/* Shine layer */
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.6),
            transparent);

    transform: translateX(-120%);
}

/* Trigger shine on hover */
.btn:hover::before {
    animation: shine 2.9s ease;
}

.btn:hover {
    background-color: #a8fd15;
    transform: translateY(-4px);
    transition: 0.2s ease;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 0;
}

.social-icons i {
    width: 42px;
    height: 42px;
    background: #1a1a1a;
    color: #a8fd15;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    font-size: 18px;
    transition: transform 0.2s ease, background 0.2s ease;
}

.social-icons i:hover {
    background: #a8fd15;
    color: #000;
    transform: translateY(-3px);
    transform: translateY(-5px) rotate(360deg);
}

.home-image img {
    width: 400px;
    max-width: auto;
    border-radius: 10px;
    will-change: transform;
    transition: 0.5s ease;
}

.home-image img:hover {
border-radius: 50%;
}

/* project section */

.project-section {
    /* min-height: 100vh; */
    background-color: black;
    background-color: #000;
    color: #fff;
    padding: 14% 6% 14%;
    border-bottom: 1px solid rgb(113, 111, 111);
}

/* PROJECT SECTION */

/* .project-section {
    padding: 80px 8%;
    background-color: #000;
    color: #fff;
    margin: 0 8%;
} */

/* Section header */
.section-header {
    margin-bottom: 30px;
}

.section-header h3 {
    font-size: 80px;
    letter-spacing: 1px;
    color: #a8fd15;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
}

.section-header p {
    font-size: 18px;
    /* margin-top: 10px; */
    color: #ccc;
}

/* PROJECT ITEM */

.project-item {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 100px;
}

/* Image */
.project-image {
    flex: 1;
    padding: 60px 40px;
    border-radius: 10px;
    background-color: grey;
}

.project-image img {
    width: 100%;
    border-radius: 12px;
    transition: transform 0.4s ease;
}

.project-image img:hover {
    transform: translateY(-5px);
}

/* PROJECT DETAILS */

.project-details {
    flex: 1;
}

.project-details h3 {
    font-size: 28px;
    /* margin-bottom: 15px; */
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-weight: 500;
}

.project-details p {
    font-size: 16px;
    line-height: 1.7;
    color: #ddd;
}

/* PROJECT INFO TABLE */

.project-info {
    margin: 30px 0;
    border-top: 1px solid #333;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid #333;
    font-size: 15px;
}

.info-row span:first-child {
    color: #aaa;
}

.info-row span:last-child {
    color: #fff;
    font-weight: 500;
}

/* PROJECT LINK */

.project-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    color: #a8fd15;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;

    position: relative;
}

.project-link::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #a8fd15;
    transition: width 0.3s ease;
}

.project-link:hover::after {
    width: 100%;
}

.about-section {
    display: flex;
    padding: 14% 6% 14%;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid rgb(113, 111, 111);
}

.about-heading {
    flex: 1;
    margin-right: 40px;
}

.about-heading h2 {
    font-size: 80px;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    color: #a8fd15;
}

.about-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.5% 0 3% 8%;
}

.about-content>h3 {
    font-size: 24px;
    /* margin-bottom: 20px; */
    font-weight: 400;
    color: #ddd;
}

.about-content>p {
    font-size: 16px;
    line-height: 1.7;
    color: #ccc;
}

.about-content>a {
    width: fit-content;
    margin-top: 10px;
    padding: 0 0 4px 0;
    color: #a8fd15;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #a8fd15;
}

.footer-section {
    background: #000;
    color: #fff;
    padding: 6% 6% 6%;
}

.footer-wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
}

/* LEFT SIDE */
.footer-info {
    max-width: 420px;
}

.footer-contact h2 {
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer-contact p {
    font-size: 15px;
    color: #ccc;
    margin-bottom: 10px;
}

.footer-contact a {
    color: #a8fd15;
    text-decoration: none;
    transition: 0.2s ease;
}

.footer-contact a:hover {
    border-bottom: 1px solid #a8fd15;
    padding-bottom: 2px;
}

/* SOCIAL ICONS */
.social-links {
    display: flex;
    gap: 14px;
    margin: 25px 0;
    position: relative;
    z-index: 10;
}

.social-links a {
    width: 42px;
    height: 42px;
    background: #1a1a1a;
    color: #a8fd15;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    font-size: 18px;
    transition: transform 0.2s ease, background 0.2s ease;
}

.social-links a:hover {
    background: #a8fd15;
    color: #000;
    transform: translateY(-3px);
    transform: translateY(-5px) rotate(180deg);
}

.copyright {
    font-size: 13px;
    font-weight: 500;
    color: #777;
    position: absolute;
    bottom: 30px;
}

/* RIGHT SIDE FORM */
.contact-form {
    flex: 1;
    max-width: 500px;
    margin-top: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 13px;
    color: #aaa;
    margin-bottom: 6px;
}

.form-group input,
.form-group textarea {
    background: #111;
    border: 1px solid #333;
    color: #fff;
    padding: 12px 14px;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #a8fd15;
}

.contact-form button {
    margin-top: 10px;
    padding: 12px 28px;
    background: #a8fd15;
    color: #000;
    font-weight: 600;
    border: 2px solid #333;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.contact-form button:hover {
    transform: translateY(-3px);
}

/* Responsive */

@media (max-width: 900px) {
    .project-item {
        flex-direction: column;
        gap: 40px;
    }

    .project-details h3 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {

    header {
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);
    }

    .nav-section {
        padding: 14px 5%;
        justify-content: space-around;
        text-align: center;
    }

    .nav-section ul {
        gap: 16px;
        /* justify-content: center; */
    }

    body {
        overflow-x: hidden;
    }

    .home-section {
        padding-top: 120px;
    }

    .home-section .section-content {
        flex-direction: column;
        text-align: center;
        gap: 50px;
        padding: 0 8%;
    }

    .home-text {
        max-width: 100%;

    }

    .home-text h1 {
        font-size: 72px;
        line-height: 1.05;
    }

    .home-text p {
        font-size: 16px;
        line-height: 1.6;
    }

    .home-actions {
        flex-direction: column;
        gap: 18px;
        align-items: center;
    }

    .btn {
        width: 100%;
        max-width: 280px;
        justify-content: center;
    }

    .social-icons {
        justify-content: center;
    }

    .social-icons i {
        font-size: 22px;
        padding: 7px;
    }

    .home-image img {
        width: 100%;
        max-width: 320px;
        border-radius: 14px;
        margin-bottom: 40px;
    }

    /* Project section responsive */
    .project-section {
        padding: 40px 8%;
    }

    .project-item {
        flex-direction: column;
        gap: 40px;
    }

    .project-details h3 {
        font-size: 24px;
        text-align: center;
    }

    .project-details p {
        font-size: 15px;
        text-align: center;
    }

    .project-info {
        font-size: 15px;
    }

    .info-row {
        flex-direction: row;
        gap: 8px;
        text-align: center;
    }

    .project-link {
        justify-content: center;
        display: flex;
    }

    .reveal {
        transform: translateY(30px);
        transition-duration: 0.7s;
    }

    .btn::before,
    .social-icons i::before {
        animation-duration: 2.5s;
    }


    /* about section */
    .about-section {
        padding: 80px 8%;
        flex-direction: column;
        text-align: center;
    }

    .about-heading {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-heading h2 {
        font-size: 60px;
        text-align: center;
        margin: 0;
    }

    .about-content {
        max-width: 100%;
        padding: 20px 0 0 0;
    }

    .about-content h3 {
        font-size: 20px;
        /* text-align: center; */
    }

    .about-content p {
        font-size: 15px;
        /* text-align: center; */
    }

    .about-content>a {
        margin: 0 auto;
    }

    /* footer section */


    .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-contact h2 {
        font-size: 34px;
        text-align: center;
    }

    .footer-contact>p {
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }

    .copyright {
        padding-top: 0;
        margin-top: 40px;
        text-align: center;
    }

    .contact-form {
        width: 100%;
        margin-bottom: 15%;
    }

    .contact-form button {
        width: 100%;
    }


}

@media screen and (max-width: 600px) {

    .project-section {
        padding: 60px 6%;
    }

    .section-header p {
        font-size: 16px;
    }

    .project-details p {
        font-size: 15px;
    }
}

@media (max-width: 480px) {

    header {
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);
    }

    .nav-section {
        padding: 14px 5%;
        justify-content: space-around;
        text-align: center;
    }

    .nav-section ul {
        gap: 7px;

    }

    body {
        overflow-x: hidden;
    }

    .home-section {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .home-section .section-content {
        flex-direction: column;
        text-align: center;
        gap: 40px;
        padding: 0 6%;
    }

    .home-text h1 {
        font-size: 56px;
        line-height: 1.05;
    }

    .home-text p {
        font-size: 15px;
        line-height: 1.6;
    }

    .home-actions {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .btn {
        width: 100%;
        max-width: 240px;
        justify-content: center;
    }

    .social-icons {
        justify-content: center;
    }

    .social-icons i {
        font-size: 20px;
        padding: 8px;
    }

    .home-image {
        margin-top: 0;
    }

    .home-image img {
        display: block;
        width: 100%;
        max-width: 260px;
        margin-bottom: 0;
        border-radius: 12px;
    }

    .project-section {
        padding: 60px 6%;
    }

    .section-header h3 {
        font-size: 36px;
    }

    .project-item .project-image {
        padding: 40px 20px;
    }

    .project-item {
        flex-direction: column;
        gap: 30px;
    }

    .project-details h3 {
        font-size: 22px;
        text-align: center;
    }

    .project-details p {
        font-size: 14px;
        text-align: center;
    }

    .project-info {
        font-size: 14px;
    }

    .info-row {
        flex-direction: row;
        gap: 6px;
        text-align: center;
    }

    .project-link {
        justify-content: center;
        display: flex;
    }

    .reveal {
        transform: translateY(25px);
        transition-duration: 0.6s;
    }

    .btn::before,
    .social-icons i::before {
        animation-duration: 2.5s;
    }

    .about-section {
        padding: 80px 6%;
        flex-direction: column;
        text-align: center;
    }

    .about-heading h2 {
        font-size: 36px;
        text-align: center;
    }

    .about-content {
        max-width: 100%;
        padding: 16px 0 0;
        gap: 20px;
    }

    .about-content h3 {
        font-size: 14px;
        line-height: 1.6;
        text-align: center;
    }

    .about-content p {
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }

    .about-content>a {
        margin: 0 auto;
    }

    /* FOOTER */
    .footer-section {
        padding: 60px 6% 30px;
    }

    .footer-contact h2 {
        font-size: 30px;
    }

    .contact-form button {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }
}